body {
height: 100vh;
margin: 0;
}

/* #app {
  margin: 0;
  padding: 2rem;
  font-weight: normal;
} */

/* #app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
} */

#app {
    background-color: red !important;
    /* border: solid 1px white !important;
    
    height: 100vh !important;
    width: 100vw !important;
    margin: auto !important;
    padding: 0 !important; */
    /* position: absolute !important;  */
    /* top: 0 !important;  */
    /* left: 0 !important; */
    /* display: block !important; */
}

body {
    /* background-color: blue !important; */
}

.basemap {
    /* border: 1px solid red; */
  /* width: 100vw !important; */
  /* height: 100vh !important; */
}